.headline {
  display: flex;
  background-color: #f3b32f;
  height: 500px;
  padding-top: 3%;
  padding-left: 7.5%;
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  color: white;
}

.sub-headline {
  font-size: 50px;
}

.arrow {
  height: 50%;
  position: absolute;
  top: 150px;
  right: 100px;
}

.features {
  padding-top: 13%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.feature {
  text-align: center;
  padding: 0 4.5%;
}

.fa {
  color: #f3b32f;
  font-size: 800%;
  padding-bottom: 1rem;
}
