.landing {
  background-color: rgba(243, 179, 47, 0.5);
  padding: 2%;
}

.card {
  margin: auto;
  float: none;
}

.dashboard-actions {
  margin: 0 0 .4rem 0;
  color: white;
  font-weight: bold;
  font-size: 110%;
  display: flex;
  justify-content: flex-start;
}

.action {
  margin-left: .8rem;
}

.landing-dashboard-wrapper {
  display: flex;
  margin-top: -3rem;
  margin-right: 2rem;
}

.dashboard-info {
  margin: -.3rem 0 .8rem 0;
}