.landing {
  background-color: rgba(243, 179, 47, 0.5);
  padding: 2%;
}

.card {
  margin: auto;
  float: none;
}

.dashboard-actions {
  margin: 2% 0;
  color: white;
  font-weight: bold;
  font-size: 120%;
}

.action {
  margin-left: 15px;
}
