.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f3b32f;
  color: white;
  min-height: 8vh;
  font-size: 2vh;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link:visited {
  color: white;
}
