.swipe-container {
  display: flex;
  justify-content: space-around;
}

.swiping {
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swipe-button {
  font-size: 50px;
}

.red {
  color: red;
}

.green {
  color: #00b902;
}

.swipe {
  position: absolute;
}

.cardContainer {
  background-color: red;
  width: 105vw;
  max-width: 900px;
  height: 135vh;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 75vw;
  max-width: 600px;
  height: 135vh;
  max-height: 900px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.animalIMG {
  margin: auto;
  position: absolute;
  top: 10px;
  max-height: 300px;
  max-width: 300px;
  border-radius: 20px;
}

.info {
  position: absolute;
  bottom: 10px;
}
